@font-face {
    font-family: inter-extrabold;
    src: url(./fonts/inter/Inter-ExtraBold.ttf);
}

* {
    margin: 0%;
    padding: 0%;
}

.home-section-hyperlink {
    color: #949494;
}

.home-section-hyperlink:hover {
    color: #949494;
    text-decoration: underline;
}

h1 {
    font-family: inter-extrabold;
    font-size: 48px;
}

h2:not(#form-h2, #footer-h2) {
    font-family: inter-bold;
    font-size: 22px;
    color: rgb(0, 90, 90);
    padding-bottom: 10px;
}

/* SECTION BLOG */

.home-blog-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(405px, 1fr));
    gap: 15px;
}

.home-blog-box {
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    /* text-align: center; */
    padding: 30px 20px;
    justify-content: left;
}

.home-blog-box img {
    width: 175px;
    border-radius: 5px;
}

.home-blog-box-desc {
    margin-left: 20px;
    margin-top: 20px;
}

.home-blog-box-desc h3 {
    margin-bottom: 5px;
}

.home-blog-box-desc p {
    margin-bottom: 0%;
    padding: 0%;
}

.home-blog-box .show-modal {
    padding: 5px 10px;
    border: none;
    background-color: rgb(0, 90, 90);
    border-radius: 5px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
}

.home-blog-box .show-modal:hover {
    background-color: rgb(0, 70, 70)
}

/* SECTION PROJECT */

.home-project-box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 15px;
    padding-bottom: 40px;
}

.home-project-box {
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    border-radius: 5px;
    background: #fff;
    text-align: center;
    padding: 30px 20px;
}

.home-project-box img {
    width: 260px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

/* SECTION WINDOW */

.close-modal {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    color: #333;
    cursor: pointer;
    border: none;
    background: none;
}

/* WINDOW POP-UP */

.hidden {
    display: none;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;

    background-color: white;
    padding: 0px;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(3px);
    z-index: 5;
}

.modal-body {
    display: flex;
    flex-direction: row;
    padding: 0px;
    align-content: center;
}

.modal-body-img {
    padding: 0px;
    margin: 0px;
    position: relative;
}

.modal-body-img img {
    height: 500px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 0px;
    margin-bottom: -4px;
    /* argin-left: -1px;
    margin-top: -2px; */
}

.modal-body-body {
    padding: 50px 50px;
}

.modal-body-body h3 {
    font-family: inter-bold;
    margin-bottom: 10px;
    font-size: 24px;
}

.modal-body-body-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 15px;
}

.modal-body-body-links-link a {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;

    padding: 5px 15px;
    background-color: rgb(0, 90, 90);
    border-radius: 10px;
    color: #fff;

    transition: ease .5s;
    cursor: pointer;

    font-size: 14px;
}

.modal-body-body-links-link a:hover {
    background-color: rgb(0, 50, 50);
}

/* POP-UP SLIDER */
.section-window main {
    width: 500px;
    height: 500px;
    margin: 0px;
    /* margin-top: 100px; */
    /* box-shadow: 0px 0px 3px grey; */
    position: relative;
    overflow: hidden;
}

.section-window .slide {
    width: 100%;
    height: 100%;
    transition: .5s;
    position: absolute;
    /* left: 0; */
    padding: 0px;
    margin: 0px;
}

/* .section-window #slide1 {
    left: 100%;
} */

.section-window #slide2 {
    left: 100%;
}

.section-window #slide3 {
    left: 200%;
}

.section-window #slide4 {
    left: 300%;
}

.section-window #slide5 {
    left: 400%;
}

.section-window .nav {
    position: absolute;
    text-align: center;
    /* top: 50%; */
    /* margin-top: 15px; */
}

.section-window .nav button {
    /* font-size: 25px; */
    height: 20px;
    width: 20px;
    top: 50%;
    background-color: transparent;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
    cursor: pointer;
}

#slider-button-left {
    top: 50%;
    left: 10px;
}

#slider-button-right {
    top: 50%;
    right: 10px;
}